@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Nunito+Sans:wght@300&family=Open+Sans:wght@800&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Chivo', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/

body {
    background-color: #CAD2C5;
    text-align: center;
    color: #2F3E46
}

header {
    background-color: #84A98C;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Chivo', sans-serif;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration-line: underline;
}

footer {
    background-color: #84A98C;
}

.who-content {
    display: flex;
    flex-direction: row;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logos {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    height: 25px;
    width: 25px;
}

.products {
    margin: 5% 10% 5% 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-img {
    height: 300px;
    width: 300px;
}

.product-img:hover {
    opacity: 0.5;
}